<ul class="row">
  <% @bookmarks.each do |bookmark| %>
    <li class="col-lg-3">
      <div class="card-movie">
        <%= image_tag(bookmark.movie.poster_url)%>
        <div class="card-movie-infos">
            <h2><%= bookmark.movie.title %></h2>
            <p><%= bookmark.movie.overview %></p>
        </div>
        <div class="card-movie-comment">
            <p><%= bookmark.comment %></p>
            <h2><%= link_to 'Delete', bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }  %></h2>
        </div>
      </div>
    </li>
  <% end %>
</ul>
